.config
*.o
*.pyc

GTAGS
GRTAGS
GPATH

.vscode
.cache/

build
dependencies.lock

pytest_embedded_log/
list_job*.txt
size_info*.txt
XUNIT_RESULT*.xml

.clangd

sdkconfig
sdkconfig.defaults
warnings.txt